.ui_panel {
  font-family: 'Segoe UI';
  color : #252525;
  box-shadow: 0 0 5px #00000080;
  border-radius: 5px;
  padding: 10px;
}
.ui_panel * {
  box-sizing : border-box;
}

.ui_panel p {
  font-size: 18px;
  margin: 5px;
  margin-bottom: 10px;
}

.ui_panel > h2 {
  padding: 0;
  margin: 5px;
  margin-bottom: 10px;
}
.ui_panel hr {
  border: 1px solid lightgray;
}

.ui_panel .ui_settings_labels {
  display: flex;
  padding: 10px 10px 0;
}
.ui_panel .ui_settings {
  display: flex;
  padding: 10px;
}
.ui_panel .ui_settings_labels span { flex: 1; }
.ui_panel .ui_settings input {
  flex: 1;
  margin-top: 0px;
  margin-right: 10px;
  width: 100%;
  outline: none;
  border: 1px solid gray;
  padding: 8px;
  border-radius: 5px;
}

.ui_panel .ui_checkboxes {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 2px #00000080;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.ui_panel .ui_checkboxes label {
  flex-grow: 1;
  cursor: pointer;
}
.ui_panel .ui_checkboxes label input {
  margin-left: 20px;
  width: auto;
  cursor: pointer;
}

.ui_panel select {
  padding: 5px;
  width: 100%;
  margin-top: 5px;
}



